/*
font-family: 'Barlow', sans-serif;
font-family: 'Fraunces', serif;
*/
*,
*::before,
*::after {

  box-sizing: border-box;
}

body, h1, h2, h3, h4, p, figure, blockquote, dl, dd {

  margin: 0;
}

body{

    min-height: 100vh;
}

.head {

    background:url(/images/mobile/image-header.jpg)no-repeat center /cover;
    height: 540px;
    width: 375px;
}

.logo {

    margin-left: 20px;
    margin-top: 20px;
}

#btn {

    margin-left: 180px;
    background: url(/images/icon-hamburger.svg)no-repeat center /cover;
    border: none;
    height: 22px;
    width: 25px;
}

#btn:hover {

    cursor: pointer;
}

.head h1 {

    text-align: center;
    color: hsl(0, 0%, 100%);
    text-transform: uppercase;
    font-family: 'Fraunces', serif;
    font-size: 42px;
    letter-spacing: 5px;
    margin-top: 80px;
}

.arrow {

    margin-left: 170px;
    margin-top: 63px;
}
@media (max-width:375px) {
    

.menu {

    position: absolute;
    height: 305px;
    width: 330px;
    background-color: white;
    margin-left: 22px;
    margin-top:60px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: 'Barlow', sans-serif;
}

.hidden {

    display: none;
}
.contact {

    background-color: hsl(51, 100%, 49%);
    border-radius: 40px;
    width: 140px;
    height: 55px;
    text-align: center;
    padding-top: 18px;
    font-family: 'Fraunces', serif;
    color: black;
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 20px;
}
}
.arrowUp {

    position: absolute;
    width: 35px;
    height: 40px;
    background-color: white;
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
    margin-top: -320px;
    margin-left: 295px;
}

.menu a {

    text-decoration: none;
    font-weight: 600;
}

.about, .services, .projects {

    color:hsl(232, 10%, 55%);
    font-size: 20px;
    margin-top: 20px;
}

.services, .projects {

    margin-top: 0px;
}

.egg {

    background: url(/images/mobile/image-transform.jpg) no-repeat center /cover;
    width: 375px;
    height: 315px;
}

.brand, .audience {

    width: 375px;
    text-align: center;
}

.brand h2, .audience h2 {

    margin-top: 60px;
    font-size: 35px;
    font-family: 'Fraunces', serif;
    font-weight: 700;
    width: 300px;
    margin-left: 35px;
    color: hsl(212, 27%, 19%);
}

.brand p, .audience p {

    margin-top: 20px;
    font-size: 18px;
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    color:hsl(232, 10%, 55%);
    line-height: 30px;
    width: 350px;
    margin-left: 11px;
    margin-bottom: 30px;
}

.brand a:hover, .audience a:hover {

    cursor: pointer;
}

.audience p {
    width: 320px;
    margin-left: 27px;
}

.brand a, .audience a {
    
    text-transform: uppercase;
    color: hsl(212, 27%, 19%);
    font-family: 'Fraunces', serif;
    font-weight: 900;
    text-decoration-color: hsl(51, 100%, 49%,0.3);
    text-decoration-thickness: 4px;   
}

.glass {

    background: url(/images/mobile/image-stand-out.jpg) no-repeat center /cover;
    width: 375px;
    height: 315px;
    margin-top: 65px;
}

.audience a {

    text-decoration-color: hsl(7, 99%, 70%,0.3);
}

.design {

    height: 600px;
    width: 375px;
    text-align: center;
    background: url(/images/mobile/image-graphic-design.jpg)no-repeat center/ cover;
    margin-top: 65px;
}

.design h2, .photography h2 {

    margin-top: 400px;
    margin-left: 80px;
    font-size: 30px;
    font-family: 'Fraunces', serif;
    font-weight: 700;
    color: hsl(167, 40%, 24%);
    position: absolute;
}

.design p, .photography p {

    position: absolute;
    margin-top: 460px;
    font-size: 16px;
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    color: hsl(167, 40%, 24%);
    line-height: 30px;
    width: 350px;
    margin-left: 11px;
}

.photography {

    height: 600px;
    width: 375px;
    text-align: center;
    background: url(/images/mobile/image-photography.jpg)no-repeat center/ cover;
}
.photography h2 {

    margin-left: 90px;
    color:hsl(198, 62%, 26%)
}

.photography p {

    color:hsl(198, 62%, 26%)
}

.testimonials {

    text-align: center;
    width: 375px;
}

.testimonials h3 {

    text-transform: uppercase;
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 17px;
    letter-spacing: 4px;
    margin-top: 65px;
    color:hsl(210, 4%, 67%);
}

.testimonials img {

    height: 70px;
    width: 70px;
    border-radius: 100%;
    margin-top: 65px;
}

.testimonials p {

    margin-top: 40px;
    font-size: 18px;
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    line-height: 30px;
    width: 330px;
    margin-left: 11px;
    color: hsl(213, 9%, 39%);
}

.testimonials h4 {

    margin-top: 40px;
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 18px;
    color: hsl(212, 27%, 19%);
}

.testimonials h5 {

    margin-top: 15px;
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    color:hsl(210, 4%, 67%);
}

.images {

   height: 375px;
   width: 375px;
   display: flex;
   flex-wrap: wrap;
   margin-top: 90px;
}

.milk, .plate, .sugar, .ice {

    width: 187.5px;
    height: 187.5px;
}

.milk {

    background: url(/images/mobile/image-gallery-milkbottles.jpg)no-repeat center /cover;
}

.plate {

    background: url(/images/mobile/image-gallery-orange.jpg)no-repeat center /cover;
}

.sugar {

    background: url(/images/mobile/image-gallery-sugar-cubes.jpg)no-repeat center /cover;
}

.ice {

    background: url(/images/mobile/image-gallery-cone.jpg)no-repeat center /cover;
}

footer {

    background-color: hsl(168, 52%, 53%,0.5);
    height: 350px;
    width: 375px;
}

.logoFooter {

    margin-top: 65px;
    height: 30px;
    margin-left: 110px;
}

.link a {

    text-decoration: none;
    color: hsl(168, 34%, 41%);
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    margin-left: 28px;
}

.link {

    margin-top: 40px;
}

.aboutFooter:hover , .servicesFooter:hover, .projectsFooter:hover, .ontactFooter:hover {

    cursor: pointer;
    color: hsl(0, 0%, 100%);
}

.facebook:hover, .insta:hover, .twitter:hover, .pinterest:hover {

    
    cursor: pointer;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(32deg) brightness(200%) contrast(100%);
}

.social {

    margin-top: 85px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.social img {

    margin-left: 30px;
}

.attribution { 
    
    font-size: 11px; 
    text-align: center; 
    margin-top: 30px;
}
    
.attribution a { 
    
    color: hsl(168, 34%, 41%);
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
}

@media (min-width:1000px){

    #btn {

        display: none;
    }

    .head {

        background:url(/images/desktop/header.jpg)no-repeat center /cover;
        height: 800px;
        width: 1440px;
    }

    .head h1 {

        font-size: 65px;
    }

    .arrow {

        margin-left: 705px;
        margin-top: 150px;
    }

    .menu {

        position: absolute;
        margin-left: 1000px;
        margin-top: -20px;
    }

    .menu a {

        margin-right: 40px;
    }

    .about, .projects, .services {

        color: white;
        font-family: 'Barlow', sans-serif;
        font-weight: 400;


    }
    .about {

        margin-left: -75px;
    }

    .contact {
        background-color:hsl(0, 0%, 100%);
        color: hsl(212, 27%, 19%);
        width: 250px;
        height: 60px;
        text-align: center;
        padding: 10px 20px 10px 20px;
        border-radius: 20px;
        text-transform: uppercase;
        font-family: 'Fraunces', serif;
        font-weight: 700;
    }

    .contact:hover {

        background-color:hsl(0, 0%, 100%, 0.3);
        cursor: pointer;
        color: white;
    }

    .egg, .brand, .glass, .audience, .photography, .design {

        width: 720px;
        height: 600px;
    }

    .egg {

        background: url(/images/desktop/transform.jpg)no-repeat center /cover;
        margin-left: 720px;
    }

    .brand, .audience{

        margin-top: -600px;
        text-align: left;
        
    }

    .brand h2, .audience h2, .brand p , .audience p, .brand a, .audience a {

        margin-left: 160px;
    }

    .brand h2, .audience h2 {

        margin-top: 170px;
    }

    .brand p, .audience p {

        width: 450px;
    }

    .audience {

        margin-left: 720px;
    }

    .glass {

        margin-top: -170px;
    }

    .design {

        background: url(/images/desktop/design.jpg)no-repeat center/ cover;
        margin-top: -170px;
    }

    .photography p  {

        margin-left: 200px;
    }

    .design p {

        margin-left: 180px;
    }

    .photography h2 {
        margin-left: 280px;
    }

    .design h2 {

        margin-left: 240px;
    }

    .photography {

        background: url(/images/desktop/photography.jpg)no-repeat center /cover;
        margin-left: 720px;
        margin-top: -600px;
        text-align: center;
    }

    .testimonials {

        
        width: 1200px;
        margin-top: 160px;
        margin-left: 120px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        height: 500px;
    }

    .testimonials h3 {

        position: absolute;
        margin-top: -470px;
        font-size: 22px;
    }

    .images {
        width: 1440px;
        display: flex;
    }

    .milk, .ice, .plate, .sugar {

        height: 450px;
        width: 360px;
    }

    .milk {

        background: url(/images/desktop/milkbottles.jpg)no-repeat center /cover;
    }

    .ice {

        background: url(/images/desktop/cone.jpg)no-repeat center /cover;
    }

    .plate {

        background: url(/images/desktop/orange.jpg)no-repeat center /cover;
    }

    .sugar {

        background: url(/images/desktop/sugarcubes.jpg)no-repeat center /cover;
    }

    footer {

        width: 1440px;
    }

    .logoFooter {

        margin-left: 640px;
        margin-top: 130px;
    }

    .link{

        margin-left: 530px;
    }

    .social {
        margin-top: 50px;
    }

    .attribution {

        margin-top: 20px;
    }

}
